.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

android/.gradle/
android/local.properties
android/app/*.jks
android/app/key.properties
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.*
linux/flutter/generated_plugin_registrant.*
windows/flutter/generated_plugin_registrant.*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.log
